<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
        <meta charset="UTF-8">
        <title>My Website - About</title>
    </head>
    <body>
        <div class=""profile-container>
            <img class="profile" src="{{ url_for('static', filename='images/anya_forger.jpg') }}"/>
            <h1>Jemoi Johnson</h1>
        </div>

        <div>
            <img class="bunny" src="{{ url_for('static', filename='images/kiki.jpg') }}" />
        </div>

        <p>I am a Software Engineering student at UWI. My hobbies are reading, playing games, learning programming languages, cooking and baking. I love animals specifically bunnies, kittens and dogs to name a few. I am interested in Web development to gain an understanding on how to build websites and for my future endeavors in game development. If it is God's willing, I would like to own my very own Gaming Company.</p>
       
    </body>
</html>