<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Website - About</title>
    </head>
    <body>
        <h1>Jemoi Johnson</h1>
        <p>I am a Software Engineering student at UwI. My hobbies are reading, playing games, learning programming languages, cooking and baking. I love animals specifically bunnies, kittens and dogs to name a few. I am interested in Web development to gain an understanding on how to build websites and for my future endeavours in game development. If it is God's willing, I would like to own my very own Gaming Company</p>
    </body>
</html>